<!DOCTYPE html>
  <% include ../includes/meta/head.ejs %>
  <body ng-app="app">

    <div class="container">
      <div ng-include="'/templates/layout/shell.html'" class="fade-animation"></div>
      <div class="splash-page" ng-show="false">
        One moment please
      </div>
    </div>

    <% include ../includes/meta/foot.ejs %>
  </body>
</html>
